<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <ul>
    <% messages.map((message) => { %>
        <li>
            <%= message.user %>: <%= message.text%> on <%= message.added.toDateString() %>
            <a href="<%= message.id%>"><button type="button">Open Message</button></a>
        </li>
    <% }) %>
    </ul>
    <hr />
    <a href="/new"><button type="button">Create New Message</button></a>
</body>
</html>